@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-card-bg: #111418;
  --color-card-dark: var(--color-card-bg);
  --color-input-bg: #283039;
  --color-text-secondary: #9dabb9;

  --font-display: "Inter", sans-serif;

  --animate-spin-slow: spin 3s linear infinite;
}

@utility scrollbar-hide {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #101922;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #283039;
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3e4a56;
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-background-dark);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-input-bg);
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3e4a56;
  }
}

body {
  @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-white font-display;
}
